# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
.venv/
venv/
env/
venv_build/

# IDEs
.vscode/
.idea/

# Distribution
dist/
build/
*.egg-info/
*.spec

# Logs
*.log
logs/

# Database
*.db
*.sqlite

# Temporary Build Files
build_clean.ps1
build_clean.py
project/
